body {
    background-image: url("../images/235.jpg");
    background-attachment: fixed;
    background-size: cover;
}
#description, #calculateSection {
   width: 30%;
   margin-left: 33.3%;
   background-color: #b5dcff;
   padding: 0px 20px 10px 20px;
   border-radius: 20px;
   border: 10px solid #192868;
   text-align: justify;
   color: #192868;
   font-family: 'Bree Serif', serif;
}
#calculateSection {
    margin-top: 1%;
}
h3 {
    margin-bottom: 2px;
}
#inputSection {
   width: 29%;
   margin-left: 33.3%;
   margin-top: 1%;
   background-color: lightgray;
   padding: 10px 20px 20px 40px;
   border-radius: 20px;
   box-shadow: 0 14px 34px #cccccc, 0 8px 20px #7a7a7a;
   font-family: 'Bree Serif', serif;
   border: 10px #b7b7b7;
   border-style: outset;
}
#currency {
   float: left;
   margin-top: -1px;
   margin-right: -4px;
}
.inputBox {
    float: center;
    margin-left: 12px;
    border: 2px solid;
    border-radius: 5px;
}
h2 {
    margin-bottom: -5;
}
#button {
    display: inline-block;
    margin-left: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 4px solid #4985e5;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #b5dcff;
    background-color: #192868;
}
#currency2 {
   display: inline-block;
   margin-left: 40px;
   font-size: 20px;
}
#total {
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #192868;
}
footer {
    margin-top: 6px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
