/* Base */
body {    
    margin: 0 !important;
    padding: 0 !important;
    color: #191919;
    font-family: 'Play', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #192868;
}

h1 {
    margin: 0;
}

/* content */

#income h2:after {
    content: '';
    display: block;
    margin: .5em 0;
    width: 60px;
    border-bottom: 2px solid #1bd179;
}

#expenses h2:after {
    content: '';
    display: block;
    margin: .5em 0;
    width: 60px;
    border-bottom: 2px solid #e06c23;
}

#description {
    background-color: #0066a1;
    padding: 20px 0;
    color: #ffffff;
}

#inputSection {
    padding: 20px;
}
    #inputSection h3 {
        margin: 25px 0;
    }
    /* margin needed for warning
    #inputSection h3 {
        margin: 25px 0 6px 0;
    }*/
    #inputSection p {
        font-size: 14px;
        display: inline-block;
    }

#income,
#expenses {
    color: #191919;
}

.currency {
   float: left;
}

input {
    float: center;
    margin: 5px 0 0 12px;
    padding: 10px;
}
    #income input:focus {
        border: 2px solid #1bd179;
        box-shadow: 1px 2px 2px#84ffc3;
        outline: none;
    }
    #expenses input:focus {
        border: 2px solid #e06c23;
        box-shadow: 1px 2px 2px #ffb07f;
        outline: none;
    }

#calculateSection {
    padding: 20px 20px 40px 20px;
    background-color: #c1d9ff;
}

#button {
    display: inline-block;
    margin-top: 65px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
    color: #ffffff;
    background-color: #0066a1;
}
    #button:hover {
        background-color: #192868;
        transition: 0.3s all;
    }

.currency2 {
   display: inline-block;
   margin-left: 10px;
}

#totalContainer {
    background-color: #ffffff;
    width: 200px;
    border: 1px solid #999999;
}

#total {
    display: inline-block;
}

footer {
    margin-top: 6px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.incomeErr,
.expensesErr {
    color: red;
    margin: 0;
}

/* Media Queries */

@media (max-width: 768px) {
    #button {
        margin-top: 20px;
    }
}